@model enigmaBilleteras.Models.billetera

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="marca" class="control-label"></label>
                <input asp-for="marca" class="form-control" />
                <span asp-validation-for="marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="colorDisponible" class="control-label"></label>
                <input asp-for="colorDisponible" class="form-control" />
                <span asp-validation-for="colorDisponible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalidadMaterial" class="control-label"></label>
                <input asp-for="CalidadMaterial" class="form-control" />
                <span asp-validation-for="CalidadMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagenBilletera" class="control-label"></label>
                <input asp-for="ImagenBilletera" class="form-control" type="file" name="imagen"/>
                <span asp-validation-for="ImagenBilletera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
