@model List<enigmaBilleteras.Models.billetera>
<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 pt-3">
    @foreach (var elemento in Model)
        @if (elemento.ID == 12)
        {
            @if (elemento.ImagenBilletera != null)
            {
                <img src="data:image/*;base64,@(Convert.ToBase64String(elemento.ImagenBilletera))" alt="" class="img-fluid imagen-galeria w-100">
            }
            else
            {
                <img src="/imagenes/image-not-found-1.jpg" alt="" class="img-fluid imagen-galeria w-100">

            }

            <div class="box-precio">
                <a href="" class="btn btn-warning text-white w-100 my-3">@elemento.precio</a>
            </div>

        }
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
        <div>
            <h2 class="display-4">Kaizen Nordica</h2>
            <h5>Lo viejo se encuentra con lo nuevo</h5>
            <hr class="w-100" />
            <p>
                Puede esperar sentir cuero genuino cada vez que busque su dinero en efectivo y no se preocupe si está lloviendo o si lo deja caer, el revestimiento de cera se encargará de los daños menores.<br /> <br />

                Desde el exterior, se ve y se siente sofisticado, premium y simplemente atractivo en todos los sentidos. Luego, el interior de lo viejo se encuentra con lo nuevo, ya que le brindamos un lindo clip para billetes y botones geniales que hacen saltar sus tarjetas cuando las presiona. Mantenga su melena fuerte y su dinero seguro con esta fantástica billetera.
            </p>
        </div>


    </div>