<!-- INICIO OFERTA -->
<section class="container-fluid seccion-oferta row">
    <div id="box-ofertas" class="col-sm-12 col-md-12 col-lg-12 col-xl-12 container col align-items-center justify-content-center text-center">
        <h2 class="text-uppercase display-4 my-5">¡tenemos lo que estas buscando!</h2>
        <hr class="py-1">
        <p class="text-uppercase my-5 mx-5">Esta temporada no te quedes sin tu nueva billetera. Aprovecha el cupon de descuento y accede a todos los productos en oferta en un solo click.</p>
        <a href="#" class=" text-uppercase">20% DTO!</a>
    </div>
</section>
<!-- FIN OFERTA -->
<!-- INICIO GALERIA -->
<section id="galeria" class="seccion-galeria">
    <div class="container-fluid row mx-0">
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 bitcoins">
            <img src="./imagenes/galeria/bitcoins.jpg" alt="" class="img-fluid imagen-galeria w-100">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <img src="./imagenes/galeria/cartera-luces.jpg" alt="" class="img-fluid imagen-galeria w-100">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <img src="./imagenes/galeria/carteras-mujer.jpg" alt="" class="img-fluid imagen-galeria w-100">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <img src="./imagenes/galeria/dolares-2.jpg" alt="" class="img-fluid imagen-galeria w-100">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <img src="./imagenes/galeria/euros.jpg" alt="" class="img-fluid imagen-galeria w-100">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <img src="./imagenes/galeria/manos.jpg" alt="" class="img-fluid imagen-galeria w-100">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <img src="./imagenes/billetera2.jpg" alt="" class="img-fluid imagen-galeria w-100">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
            <img src="./imagenes/billetera3.jpg" alt="" class="img-fluid imagen-galeria w-100">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 d-sm-none d-md-none d-lg-block d-xl-block">
            <img src="./imagenes/billetera4.jpg" alt="" class="img-fluid imagen-galeria w-100">
        </div>
    </div>
</section>
<!-- FIN GALERIA -->
<!-- INICIO SECCION SERVICIOS -->
<section id="servicios" class="seccion-servicios text-center container-fluid">
    <h2 class="text-uppercase my-5 display-4 servicios-titulo mx-3">nuestros servicios</h2>
    <hr class="py-1 separador-servicios">
    <div class="container-fluid  row d-flex flex-wrap justify-content-center">

        <div class="box-servicios  my-5 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <i class="fas fa-shipping-fast fa-4x my-5"></i>
            <h4 class="text-uppercase mb-3">envios sin costo</h4>
            <p>Con la compra de cualquiera de nuestros productos el envio es sin cargo y llega mucho mas rapido de lo esperado.</p>
        </div>

        <div class="box-servicios  my-5 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <i class="fas fa-globe fa-4x my-5"></i>
            <h4 class="text-uppercase mb-3">ventas online</h4>
            <p>Hemos ampliado nuestro servicio web y ya podes comprar directamente desde la comodidad de tu casa.</p>
        </div>

        <div class="box-servicios  my-5 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <i class="far fa-comment-dots fa-4x my-5"></i>
            <h4 class="text-uppercase mb-3">atencion en linea</h4>
            <p>Contamos con un servicio en linea las 24 hs para que puedas despejar cualquier consulta. No dudes en contactarnos.</p>
        </div>

        <div class="box-servicios  my-5 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <i class="fas fa-heart fa-4x my-5"></i>
            <h4 class="text-uppercase mb-3">Calidad de atencion</h4>
            <p>Porque lo que nos importa son nuestros clientes contamos con la mejor calidad de atencion y personalidaza para cada cliente.</p>
        </div>
        <br>

    </div>
</section>
<!-- FIN SECCION SERVICIOS -->
<!-- SECCION CONTACTO -->
<section id="contactanos" class="seccion-contactanos">
    <div class="container mx-auto row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 mx-auto mt-5">
            <h2 class="display-4 my-5 text-center text-uppercase">contactanos</h2>
            <hr class="divisor my-4">
            <form action="#" method="POST">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" id="nombre" class="form-control" pattern="[a-z,A-Z]{1,30}">
                <p class="form-text text-lowercase">Nunca compartiremos sus datos personales con nadie más.</p>

                <label for="correo" class="form-label mt-3">Correo Electronico</label>
                <input type="email" id="email" class="form-control">

                <label for="telefono" class="form-label mt-3">Telefono</label>
                <input type="tel" id="telefono" class="form-control" required pattern="[0-9]{5,15}">
                <label for="asunto" class="form-label mt-3">Asunto</label>
                <input type="text" id="asunto" class="form-control mb-2">
                <textarea name="texto" id="texto" cols="114" rows="7" class="w-100 border" placeholder="Escriba su mensaje aqui..."></textarea>

                <input type="checkbox" id="checkbox" class="form-check-input">
                <label for="echar un vistazo" class="form-check-label">Echar un vistazo</label><br>
                <input type="submit" value="enviar" class="submit py-2 px-4 my-4"><span class="texto-oculto">Recuerde completar todos los campos antes de enviar</span>
            </form>
        </div>
    </div>
</section>
<!-- SECCION CONTACTO -->
<!-- INICIO NOSOTROS -->
<section id="nosotros">
    <div class="container mx-auto row">
        <div class="col-12">
            <h2 class="text-uppercase text-center display-4 py-5">nuestro equipo</h2>
            <hr class="divisor my-4">
        </div>
        <div class="col-12">
            <img src="./imagenes/nuestroequipo2.jpg" alt="" class="img-fluid rounded-1">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex flex-column justify-content-center align-items-start">
            <h3 class="text-uppercase display-6 py-3 text-secondary">Santiago Moreno</h3>
            <p>Creador de la marca DOTA , empresario con mas de 10 años de experiencia en el rubro , tambien cuenta con otras marcas exitosas a su nombre.</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 py-5">
            <img src="imagenes/perfil.jpg" alt="" class="img-fluid rounded">
        </div>
    </div>
    <div class="container mx-auto row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 py-5">
            <img src="imagenes/perfilmujer2.jpg" alt="" class="img-fluid rounded">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex flex-column justify-content-center align-items-start">
            <h3 class="text-uppercase display-6 text-secondary">carolina taboada</h3>
            <p>Diseñadora y cofundadora de nuestra marca , una empresaria de vanguardia siempre innovando y creando productos unicos . Actualmente cuenta con 5 años de experiencia en el rubro y es la diseñadora de mayor renombre.</p>
        </div>
        <div class="col-12">
            <img src="./imagenes/nuestroequipo3.jpg" alt="" class="img-fluid rounded-1 my-5">
        </div>
    </div>
</section>
<!--  FIN NOSOTROS -->