@model List<enigmaBilleteras.Models.billetera>
<!-- INICIO OFERTA -->
<section class="container-fluid seccion-oferta row">
     <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 pt-3">
        <img  src="~/imagenes/kaizenBilletera.jpg" class="img-fluid w-75"/>
     </div>

    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
        <div>
            <h2 class="display-4">Kaizen Nordica</h2>
            <h5>Lo viejo se encuentra con lo nuevo</h5>
            <hr / class="w-100">
            <p>
                Puede esperar sentir cuero genuino cada vez que busque su dinero en efectivo y no se preocupe si está lloviendo o si lo deja caer, el revestimiento de cera se encargará de los daños menores.<br /> <br />

                Desde el exterior, se ve y se siente sofisticado, premium y simplemente atractivo en todos los sentidos. Luego, el interior de lo viejo se encuentra con lo nuevo, ya que le brindamos un lindo clip para billetes y botones geniales que hacen saltar sus tarjetas cuando las presiona. Mantenga su melena fuerte y su dinero seguro con esta fantástica billetera.
            </p>
        </div>
        
        <div class="box-precio">
            <a href="" class="btn btn-warning text-white w-100"> comprar $ 4999</a>
        </div>
    </div>
</section>

<!-- INICIO GALERIA -->
<section id="galeria" class="container-fluid seccion-galeria">
    <div class="row mx-0">
        @foreach (var item in Model)
        {
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 text-center my-1 text-uppercase">
            @if (item.ImagenBilletera != null)
            {
                <img src="data:image/*;base64,@(Convert.ToBase64String(item.ImagenBilletera))" alt="" class="img-fluid imagen-galeria w-100">
            }
            else
            {
                <img src="/imagenes/image-not-found-1.jpg" alt="" class="img-fluid imagen-galeria w-100">

            }
            <h4>@item.marca</h4>
            <p>@item.colorDisponible</p>
            <p>@item.CalidadMaterial</p>
            <p class="text-info">$@item.precio</p>
            <div class="text-center py-3 d-flex flex-column justify-content-center align-items-center">

                <button class="btn btn-primary  btn-lg w-75 my-1">comprar</button>
                <button class="btn btn-success btn-lg w-75 my-1">agregar <i class="fas fa-shopping-cart"></i></button>
            </div>
        </div>
        }
    </div>
</section>

<!-- INICIO SECCION SERVICIOS -->
<section id="servicios" class="seccion-servicios text-center container-fluid">
    <h2 class="text-uppercase my-5 display-4 servicios-titulo mx-3">nuestros servicios</h2>
    <hr class="py-1 separador-servicios">
    <div class="container-fluid  row d-flex flex-wrap justify-content-center">

        <div class="box-servicios  my-3 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <i class="fas fa-shipping-fast fa-4x my-5"></i>
            <h4 class="text-uppercase mb-3">envios sin costo</h4>
            <p>Con la compra de cualquiera de nuestros productos el envio es sin cargo y llega mucho mas rapido de lo esperado.</p>
        </div>

        <div class="box-servicios  my-3 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <i class="fas fa-globe fa-4x my-5"></i>
            <h4 class="text-uppercase mb-3">ventas online</h4>
            <p>Hemos ampliado nuestro servicio web y ya podes comprar directamente desde la comodidad de tu casa.</p>
        </div>

        <div class="box-servicios  my-3 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <i class="far fa-comment-dots fa-4x my-5"></i>
            <h4 class="text-uppercase mb-3">atencion en linea</h4>
            <p>Contamos con un servicio en linea las 24 hs para que puedas despejar cualquier consulta. No dudes en contactarnos.</p>
        </div>

        <div class="box-servicios  my-3 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <i class="fas fa-heart fa-4x my-5"></i>
            <h4 class="text-uppercase mb-3">Calidad de atencion</h4>
            <p>Porque lo que nos importa son nuestros clientes contamos con la mejor calidad de atencion y personalidaza para cada cliente.</p>
        </div>
        <br>

    </div>
</section>

<!-- SECCION CONTACTO -->
<section id="contactanos" class="seccion-contactanos mt-3">
    <div class="container mx-auto row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 mx-auto mt-5">
            <h2 class="display-4 my-5 text-center text-uppercase">contactanos</h2>
            <hr class="divisor my-4">
            <form action="#" method="POST">
                
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" id="nombre" class="form-control" pattern="[a-z,A-Z]{1,30}">

                <label for="correo" class="form-label mt-3">Correo Electronico</label>
                <input type="email" id="email" class="form-control">

                <label for="telefono" class="form-label mt-3">Telefono</label>
                <input type="tel" id="telefono" class="form-control" required pattern="[0-9]{5,15}">
                
                <label for="asunto" class="form-label mt-3">Asunto</label>
                <input type="text" id="asunto" class="form-control mb-2">
                <textarea name="texto" id="texto" cols="114" rows="7" class="w-100 border" placeholder="Escriba su mensaje aqui..."></textarea>

                <input type="submit" value="enviar" class="submit py-2 px-4 my-4"><span class="texto-oculto">Recuerde completar todos los campos antes de enviar</span>
            </form>
        </div>
    </div>
</section>

<!-- INICIO NOSOTROS -->
<section id="nosotros">
    <div class="container mx-auto row">
        <div class="col-12">
            <h2 class="text-uppercase text-center display-4 py-5">nuestro equipo</h2>
            <hr class="divisor my-4">
        </div>
        <div class="col-12">
            <img src="./imagenes/nuestroequipo2.jpg" alt="" class="img-fluid rounded-1">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex flex-column justify-content-center align-items-start">
            <h3 class="text-uppercase display-6 py-3 text-secondary">Santiago Moreno</h3>
            <p>Creador de la marca DOTA , empresario con mas de 10 años de experiencia en el rubro , tambien cuenta con otras marcas exitosas a su nombre.</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 py-5">
            <img src="imagenes/perfil.jpg" alt="" class="img-fluid rounded">
        </div>
    </div>
    <div class="container mx-auto row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 py-5">
            <img src="imagenes/perfilmujer2.jpg" alt="" class="img-fluid rounded">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex flex-column justify-content-center align-items-start">
            <h3 class="text-uppercase display-6 text-secondary">carolina taboada</h3>
            <p>Diseñadora y cofundadora de nuestra marca , una empresaria de vanguardia siempre innovando y creando productos unicos . Actualmente cuenta con 5 años de experiencia en el rubro y es la diseñadora de mayor renombre.</p>
        </div>
        <div class="col-12">
            <img src="./imagenes/nuestroequipo3.jpg" alt="" class="img-fluid rounded-1 my-5">
        </div>
    </div>
</section>